body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #0e1117;
  color: #eaeaea;
}

.home {
  padding: 60px;
  text-align: center;
}

button {
  padding: 12px 18px;
  font-size: 16px;
  background: #2563eb;
  border: none;
  color: white;
  cursor: pointer;
}

.docs {
  display: flex;
}

.sidebar {
  width: 260px;
  height: 100vh;
  background: #161b22;
  padding: 20px;
  position: fixed;
}

.sidebar h2 {
  margin-bottom: 15px;
}

.sidebar a {
  display: block;
  color: #c9d1d9;
  text-decoration: none;
  margin: 8px 0;
}

.sidebar a:hover {
  color: white;
}

.content {
  margin-left: 280px;
  padding: 40px;
}

pre {
  background: #1f2937;
  padding: 15px;
  overflow-x: auto;
}
